clouds:
  {{ openstack_cloud | default(openstack) }}:
    auth:
      auth_url: {{ openstack_auth_url | default('http://192.0.2.21:5000') }}
      username: {{ openstack_username | default('admin') }}
      password: {{ openstack_password | default('r3dh4t1!') }}
      project_id: {{ openstack_project_id | default('4e07f423a12f437388a97a533bb9eef9') }}
      project_name: {{ openstack_project_name | default('admin') }}
      user_domain_name: {{ openstack_user_domain_name | default('Default') }}
    region_name: {{ openstack_region_name | default('regionOne') }}
    interface: 'public'
    identity_api_version: {{ openstack_identity_api_version | default(3) }}
ansible:
  use_hostnames: True
  expand_hostvars: False
  fail_on_errors: True
